* {
  box-sizing: border-box;
}

.App {
  max-width: 670px;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  margin: 16px auto;
  border-radius: 5px;
  font-family: "Quicksand", sans-serif;
}
ul {
  list-style-type: none;
}

i {
  font-size: 1.25em;
}

a {
  color: black;
  text-decoration: none;
}

p {
  font-size: 1.25em;
}

@media only screen and (max-width: 670px) {
  .App {
    margin: 0;
    border-radius: 0px;
    height: 100%;
  }
}
